.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;

	@include center-block;

	margin-bottom: 1.5em;
}


@mixin font-size($size)
{
  font-size: $size + px;
}

@mixin placeholderStyle($color, $size, $uppercase: false){
  &::-webkit-input-placeholder {
    color: $color;
    font-size: $size;
    font-weight: 300;
    @if $uppercase {
        text-transform: uppercase;
    }
  }
  &::-moz-placeholder {
    color: $color;
    font-size: $size;
    font-weight: 300;
    @if $uppercase {
        text-transform: uppercase;
    }
  }
  &:-ms-input-placeholder {
    color: $color;
    font-size: $size;
    font-weight: 300;
    @if $uppercase {
        text-transform: uppercase;
    }
  }
  &:-moz-placeholder {
    color: $color;
    font-size: $size;
    font-weight: 300;
    @if $uppercase {
        text-transform: uppercase;
    }
  }
}


@mixin go-rotate($num: 90) {
  transform: rotate($num+deg);
  -webkit-transform: rotate($num+deg);
  -moz-transform: rotate($num+deg);
  -ms-transform: rotate($num+deg);
  -o-transform: rotate($num+deg);
}

.u-no-padding {
  padding: 0;
}

.u-m0 {
  margin: 0;
}

.u-m0i {
  margin: 0 !important;
}
.u-mt0 {
  margin-top: 0;
}

.u-mt05 {
  margin-top: 0.5em;
}

.u-mt03 {
  margin-top: 0.3em;
}

.u-mt07 {
  margin-top: 0.7em;
}

.u-mt1 {
  margin-top: 1em;
}

.u-mt104 {
  margin-top: 1.4em;
}
.u-mt105 {
  margin-top: 1.5em;
}

.u-mt2 {
  margin-top: 2em;
}

.u-mt3 {
  margin-top: 3em;
}
.u-mt4 {
  margin-top: 4em;
}
.u-mt5 {
  margin-top: 5em;
}
.u-mt6 {
  margin-top: 6em;
}
.u-mt7 {
  margin-top: 7em;
}
.u-mt8 {
  margin-top: 8em;
}
.u-mt9 {
  margin-top: 9em;
}
.u-mt10 {
  margin-top: 10em;
}

.u-mb0 {
  margin-bottom: 0;
}
.u-mb0i {
  margin-bottom: 0 !important;
}
.u-mb01 {
  margin-bottom: 0.1em;
}

.u-mb02 {
  margin-bottom: 0.2em;
}

.u-mb03 {
  margin-bottom: 0.3em;
}

.u-mb04 {
  margin-bottom: 0.4em;
}

.u-mb05 {
  margin-bottom: 0.5em;
}

.u-mb06 {
  margin-bottom: 0.6em;
}

.u-mb07 {
  margin-bottom: 0.7em;
}

.u-mb08 {
  margin-bottom: 0.8em;
}

.u-mb1 {
  margin-bottom: 1em;
}

.u-mb102 {
  margin-bottom: 1.2em;
}

.u-mb103 {
  margin-bottom: 1.3em;
}

.u-mb105 {
  margin-bottom: 1.5em;
}

.u-mb108 {
  margin-bottom: 1.8em;
}

.u-mb2 {
  margin-bottom: 2em;
}

.u-mb205 {
  margin-bottom: 2.5em;
}

.u-mb3 {
  margin-bottom: 3em;
}

.u-mb305 {
  margin-bottom: 3.5em;
}

.u-mb4 {
  margin-bottom: 4em;
}

.u-mb406 {
  margin-bottom: 4.6em;
}

.u-mb5 {
  margin-bottom: 5em;
}

.u-mb6 {
  margin-bottom: 6em;
}

.u-mb7 {
  margin-bottom: 7em;
}

.u-mb8 {
  margin-bottom: 8em;
}

.u-mb9 {
  margin-bottom: 9em;
}

.u-mr03 {
  margin-right: 0.3em;
}
.u-mr05 {
  margin-right: 0.5em;
}

.u-mr1 {
  margin-right: 1em;
}

.u-mr2 {
  margin-right: 2em;
}

.u-ml0 {
  margin-left: 0;
}

.u-ml02 {
  margin-left: 0.2em;
}

.u-ml05 {
  margin-left: 0.5em;
}

.u-ml1 {
  margin-left: 1em;
}

.u-ml2 {
  margin-left: 2em;
}

.u-m-auto{
    margin-top: auto;
    margin-bottom: auto;
}

.u-p0 {
  padding: 0;
}

.u-p02 {
  padding: .2em;
}
.u-p05 {
  padding: .5em;
}
.u-p1 {
  padding: 1em;
}

.u-p2 {
  padding: 2em;
}

.u-pt0 {
  padding-top: 0;
}

.u-pt05 {
  padding-top: 0.5em;
}

.u-pt08 {
  padding-top: 0.8em;
}

.u-pt1 {
  padding-top: 1em;
}

.u-pt103 {
  padding-top: 1.3em;
}

.u-pt105 {
  padding-top: 1.5em;
}
.u-pt106 {
  padding-top: 1.6em;
}

.u-pt108 {
  padding-top: 1.8em;
}

.u-pt109 {
  padding-top: 1.9em;
}
.u-pt1005 {
  padding-top: 10.5em;
}
.u-pt11 {
  padding-top: 11em;
}

.u-pt2 {
  padding-top: 2em;
}
.u-pt202 {
  padding-top: 2.2em;
}
.u-pt204 {
  padding-top: 2.4em;
}

.u-pt3 {
  padding-top: 3em;
}

.u-pt304 {
  padding-top: 3.4em;
}

.u-pt305 {
  padding-top: 3.5em;
}

.u-pt4 {
  padding-top: 4em;
}

.u-pt5 {
  padding-top: 5em;
}

.u-pt6 {
  padding-top: 6em;
}

.u-pt7 {
  padding-top: 7em;
}

.u-pt8 {
  padding-top: 8em;
}

.u-pt9 {
  padding-top: 9em;
}
.u-pt905 {
  padding-top: 9.5em;
}

.u-pt10 {
  padding-top: 10em;
}

.u-pb0 {
  padding-bottom: 0;
}
.u-pb03 {
  padding-bottom: 0.3em;
}
.u-pb05 {
  padding-bottom: 0.5em;
}
.u-pb08 {
  padding-bottom: 0.8em;
}

.u-pb1 {
  padding-bottom: 1em;
}
.u-pb103 {
  padding-bottom: 1.3em;
}
.u-pb105 {
  padding-bottom: 1.5em;
}
.u-pb2 {
  padding-bottom: 2em;
}
.u-pb202 {
  padding-bottom: 2.2em;
}
.u-pb204 {
  padding-bottom: 2.4em;
}
.u-pb3 {
  padding-bottom: 3em;
}
.u-pb4 {
  padding-bottom: 4em;
}
.u-pb5 {
  padding-bottom: 5em;
}
.u-pb6 {
  padding-bottom: 6em;
}
.u-pb7 {
  padding-bottom: 7em;
}
.u-pb8 {
  padding-bottom: 8em;
}
.u-pb9 {
  padding-bottom: 9em;
}
.u-pb10 {
  padding-bottom: 10em;
}

.u-pb305 {
  padding-bottom: 3.5em;
}

.u-pb4 {
  padding-bottom: 4em;
}

.u-pr0 {
  padding-right: 0;
}

.u-pr1 {
  padding-right: 1em;
}

.u-pr2 {
  padding-right: 2em;
}

.u-pr205 {
  padding-right: 2.5em;
}

.u-pr3 {
  padding-right: 3em;
}

.u-pl0 {
  padding-left: 0;
}
.u-pl05 {
  padding-left: .5em;
}

.u-pl1 {
  padding-left: 1em;
}
.u-pl105 {
  padding-left: 1.5em;
}
.u-pl2 {
  padding-left: 2em;
}
.u-pl205 {
  padding-left: 2.5em;
}
.u-pl3 {
  padding-left: 3em;
}

.u-pl305 {
  padding-left: 3.5em;
}
.u-pl4 {
  padding-left: 4em;
}

.u-pl105 {
  padding-left: 1.5em;
}

.u-pl2 {
  padding-left: 2em;
}

.u-pl20px {
  padding-left: 20px;
}

.u-pl40px {
  padding-left: 40px;
}

.u-block {
  display: block;
}

.u-flex {
  display: flex;
}

.u-flex-center {
  align-items: center;
  justify-content: center
}

.u-inline-block {
  display: inline-block;
}

.u-relative {
  position: relative;
}

.u-fixed {
  position: fixed;
}

.u-img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.u-absolute {
  position: absolute;
}

.u-fullwidth {
  width: 100%;
}

.u-valign-bottom {
  vertical-align: bottom;
}

.u-dividing-line {
  height: 1px;
  width: 100%;
  display: block;
}

.u-line-height05{
    line-height: 0.5em;
}
.u-line-height1{
    line-height: 1em;
}
.u-line-height101{
    line-height: 1.1em;
}
.u-line-height102{
    line-height: 1.2em;
}
.u-line-height103{
    line-height: 1.3em;
}


.u-pull-right {
  float: right;
  //@media(@xs),(@sm)
  //{
  //  float: none;
  //}
}

.u-text-right {
  text-align: right;
  //@media(@xs),(@sm)
  //{
  //  text-align: center;
  //}
}

.u-text-underline{
    text-decoration: underline !important;
}
.no-underline{
    text-decoration: none;
}
.u-text-normal{
    text-transform: unset !important;
}
.u-image-responsive{
    max-width: 100%;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.u-opaque-hover {
  &:hover {
    opacity: .8;
  }
}

.u-d-none {
  display: none;
}

@for $j from 0 through 50
{
  .u-rounded-#{$j}
  {
    border-radius: 0px + $j;
  }
}

.u-center {
  margin-left: auto;
  margin-right: auto;
}

.u-index-high {
  z-index: 2;
}

.u-parallax {
  background-attachment: fixed;
}

.row.row-spacing-0{
    margin-left: -0px;
    margin-right: -0px;
    >div{
        padding-left: 0px;
        padding-right: 0px;
    }
}

.row.row-spacing-6{
    margin-left: -3px;
    margin-right: -3px;
    >div{
        padding-left: 3px;
        padding-right: 3px;
    }
}

.row.row-spacing-8{
    margin-left: -4px;
    margin-right: -4px;
    >div{
        padding-left: 4px;
        padding-right: 4px;
    }
}

.row.row-spacing-10{
    margin-left: -5px;
    margin-right: -5px;
    >div{
        padding-left: 5px;
        padding-right: 5px;
    }
}

.row.row-spacing-12{
    margin-left: -6px;
    margin-right: -6px;
    >div{
        padding-left: 6px;
        padding-right: 6px;
    }
}

.row.row-spacing-22{
    margin-left: -11px;
    margin-right: -11px;
    >div{
        padding-left: 11px;
        padding-right: 11px;
    }
}

.row.row-spacing-26{
    margin-left: -13px;
    margin-right: -13px;
    >div{
        padding-left: 13px;
        padding-right: 13px;
    }
}

.row.row-spacing-36{
    margin-left: -18px;
    margin-right: -18px;
    >div{
        padding-left: 18px;
        padding-right: 18px;
    }
}

.u-border1{
    border: 1px solid #d7d7d7;
}

.u-pr{
  position: relative;
}

.u-pa{
  position: absolute;
  top: 0;
  left: 0;
}
.u-par{
  position: absolute;
  top: 0;
  right: 0;
}
.u-pab{
  position: absolute;
  left: 0;
  bottom: 0;
}
.u-parb{
  position: absolute;
  bottom: 0;
  right: 0;
}

.u-db{
  display: block;
  width: 100%;
}
.u-dib{
  display: inline-block;
}

.u-noborder{
  border: none;
}

.u-hr{
  border-color: #fff;
}

.u-nobr{
  border-radius: 0;
}

.u-tdnone{
  text-decoration: none !important;
}

.u-m0a{
  margin: 0 auto;
}

.u-circle-44{
  width: 44px;
  height: 44px;
  line-height: 44px;
}

.no-overflow{
  overflow: hidden;
}

.u-w100{
  width: 100%;
}
.u-wAuto{
  width: auto;
  max-width: 100%;
}
.u-wAutoi{
  width: auto !important;
  max-width: 100%;
}
.u-h100{
  height: 100%;
}

.u-lsp1{
  letter-spacing: 1px;
}
.u-lsp2{
  letter-spacing: 2px;
}
.u-lsn1{
  letter-spacing: -1px;
}
.u-lsn2{
  letter-spacing: -1px;
}
.u-bg-overlay{
  &:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    content: ' ';
  }
}
.u-before{
  &:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    content: ' ';
  }
}
.u-pointer{
  cursor: pointer;
}
.u-linostyle{
  list-style: none;
}
.u-linkhover{
  &:hover{
    //color: $red2;
  }
}
.u-imgcover{
  object-fit: cover;
}
.u-trans250{
  transition: 250ms;
}
.u-vat{
  vertical-align: top;
}
.u-vau{
  vertical-align: unset;
}
.u-nobefore{
  &:before{
    display: none;
  }
}

.u-ulnostyle{
  li{
    list-style: none;
  }
}


.u-m1 {
  margin: 1em;
}

.u-m05 {
  margin: .5em;
}

.u-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.u-z100{
  z-index: 100 !important;
}

.u-z200{
  z-index: 200 !important;
}
.u-fnone{
  float: unset !important;
}

.u-shadow{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.u-opac6{
  opacity: .6;
}


.f-light, .f-300 {
  font-weight: 300;
}

.f-regular {
  font-weight: normal;
}

.f-medium, .f-500 {
  font-weight: 500;
}

.f-semibold, .f-600 {
  font-weight: 600;
}

.f-bold, .f-700 {
  font-weight: 700;
}

.f-extrabold, .f-800 {
  font-weight: 800;
}

.f-black, .f-900 {
  font-weight: 900;
}

.f-normal {
  font-style: normal;
}

.f-italic {
  font-style: italic;
}


@for $j from 12 through 100
{
  .f-#{$j} {
    @include font-size($j);
  }
}

.hide{
  display: none;
}

.transition-5ms{
  //@include transition(500ms);
}

img.cover, video.cover {
	object-fit: cover;
}


.rotate {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}


.text-uppercase{
  text-transform: uppercase;
}

.c-white{
  color: #fff;
}
.c-black{
  color: #000;
}

.u-color-box{
  text-align: center;
  display: inline-block;
  margin: 0;
  font-weight: bold;
  border-radius: 0;
  color: #fff;
}

.u-color-box-dimension{
  font-size: .5em;
  width: 17px;
  height: 17px;
  line-height: 17px;
}

.u-size-item{
  border: solid 1px #292929;
  margin: 0 2px;
  padding: 0 3px;
  text-align: center;
  display: inline-block;
}
.u-size-item-dimension{
  width: auto;
  font-weight: bold;
  height: 17px;
  min-width: 20px;
  line-height: 17px;
  font-size: .5em;
}

.u-product-price{
  font-size: 14px;
    display: inline-block;
    font-weight: 700;
    float: right;
}

.u-product-variant-list {
  border-bottom: solid 1px #424040;
  margin-bottom: 3px;
  font-size: 12px;
}

.u-product-variant-items {
  color: var(--primary-color);
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
}

.u-option-list {
  display: none;
  overflow-y: auto;
  max-height: 120px;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

.u-option-item{
  float: left;
  font-size: 14px;
  width: 100%;
}

.u-size-item-product{
  color: #fff;
  width: 35px;
  height: 35px;
  line-height: 1;
  text-align: center;
  display: inline-block;
  border: 0;
  border-radius: 50%;
  margin-left: 0;
  margin-right: 0;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.u-option-item-product{
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  margin: 1px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  border-radius: 0;
  cursor: pointer;
}
