.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/* Spinning image CSS start */
@keyframes video-spin {
	0% { transform: translate(-50%, -50%) rotate(0deg); }
	100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.product-item-wrap .product-inner-img > a {
	height: 100%;
	left: 0;
	object-fit: contain;
	position: absolute;
	top: 0;
	width: 100%;
}

.product-item-wrap .product-inner-img video {
	height: 100%;
	left: 0;
	object-fit: contain;
	position: absolute;
	top: 0;
	transition: all 500000ms;
	width: 100%;
	z-index: 10;
}