#with-sidebar {
    display: flex;
    align-items: flex-start;
    position: relative;

    @media only screen and (max-width: 1024px) {
        flex-direction: column;
    }

    .sidebar-fix {
        padding-bottom: 3rem;
        position: sticky;
        top: calc(200px + var(--wp-admin--admin-bar--height, 0px));
        width: 25%;
        overflow-y: auto;
        transition: top 0.3s ease;
        align-self: flex-start;

        @media only screen and (max-width: 1024px) {
            max-width: 100%;
            padding-bottom: 0;
            position: relative;
            top: 0 ! important;
            width: 100%;
        }
    }

    .content {
        flex: 1;
        min-width: 0;
        width: 75%;

        @media only screen and (max-width: 1024px) {
            width: 100%;
        }
    }

    .toggle_cats {
        color: #ffffff;
        background-color: var(--primary-color);
        border: solid 2px var(--primary-color);
        cursor: pointer;
        padding: 25px 50px;
        border-radius: 4px;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;

        @media screen and (max-width: 1024px) {
            padding: 15px 25px;
        }

        &:hover {
            background-color: transparent;
            color: var(--primary-color);
        }
    
        text-transform: uppercase;
        margin-bottom: 20px;
        text-align: center;

        @media screen and (min-width: 1024px) {
            display: none;
        }
    }

    .cat_list {
        overflow-y: auto;
        margin-right: 40px;

        @media screen and (min-width: 1024px) {
            display: block !important;
        }

        @media screen and (max-width: 1024px) {
            height: 100% !important;
            overflow-y: hidden;
            margin-right: 0;
            display: none;
        }

        ul {
            background-color: #eee;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                a {
                    display: block;
                    padding: 0 0 0 20px;
                    font-size: 20px;
                    color: #000000;
                    line-height: 2.5;
                    border-left: solid 2px transparent;
                    position: relative;

                    @media screen and (max-width: 1600px) {
                        font-size: 18px;
                    }

                    @media screen and (max-width: 1400px) {
                        font-size: 16px;
                    }

                    @media screen and (max-width: 1024px) {
                        font-size: 18px;
                    }

                    i {
                        display: flex;
                        position: absolute;
                        right: 0;
                        top: 0;
                        color: var(--primary-color);
                        font-size: 12px;
                        margin-top: 0;
                        height: 100%;
                        width: 50px;
                        align-items: center;
                        justify-content: center;

                        &.fa-chevron-up {
                            display: none;
                        }
                    }
                }

                &.active {

                    a {
                        color: var(--primary-color) !important;
                    }
                }

                ul.children {
                    display: none;

                    li {

                        a {
                            background: none;
                            border: none;
                            font-size: 16px;
                            color: var(--primary-color);
                            font-weight: 500;

                            &:hover {
                                color: var(--primary-color);
                            }

                            @media screen and (max-width: 1200px) {
                                font-size: 14px;
                            }
                        }
                    }
                }

                &.open > a > .fa-chevron-down {
                    transform: rotate(180deg);
                    transition: transform 0.3s ease;
                }
            }

            &.active {

                > li {
                    > a { 
                        background-color: #f8f8f8;
                        border-left: solid 2px var(--primary-color);

                        i {
                            &.fa-chevron-down {
                                color: #fff;
                                transform: rotate(180deg);
                            }

                            &.fa-chevron-up {
                                display: inline;
                            }
                        }
                    }

                    ul.children {
                        display: block;
                    }
                }
            }

            &:not(.children) {

                & > li {
                    transition: none !important;

                    & > a {
                        transition: none !important;
                
                        &:hover {
                            background-color: #f8f8f8;
                            border-left: solid 2px var(--primary-color);
                        }
                    }
                }
            }
        }
    }
}